.bodyBack {
    margin: auto;
}
.product__wrapper {
    padding: 10px 20px 0px 100px;
}
.product_routes {
    text-align: start;
    font-size: x-small;
    color: #94938f;
    margin: 0%;
    font-family: Verdana;
}
.product__boldText > p {
    font-size: 20px;
}
.product__smallText > p {
    font-size: small;
    font-weight: 200;
}
.product__smallText > u {
    font-size: small;
    font-weight: 200;
}
.productTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.product__smallTitle > p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: small;
    font-weight: 400;
}
.product__smallText > p {
    margin-top: 0;
    font-size: small;
    font-weight: 350;
    margin-bottom: 0px;
}
.product__smallerMiddleText > p {
    margin-top: 0;
    font-size: 14px;
    font-weight: 350;
    margin-bottom: 0px;
    line-height: 25px;
    color: #4a4947;
}
.product__underlineSmallText {
    margin-top: 5px;
    font-size: small;
    font-weight: 350;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.colorLine {
    margin-top: 20px;
    justify-content: flex-start;
}
.leftImages {
    flex: 1;
    align-self: flex-start;
    justify-content: space-between;
}
.imageColorController > img {
    width: 40px;
    margin-right: 5px;
}
.textController {
    align-self: center;
}
.seeColorBorder {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border: 2px grey solid;
}
.rightButtonContainer {
    flex: 1;
    justify-content: flex-end;
}
.product__button {
    background-color: black;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 30;
}
.product__button > p {
    font-size: small;
}
.product_fabricColor > p {
    font-size: small;
    font-weight: 200;
}
.product_boldSmall > p {
    font-size: small;
    font-weight: 400;
}
.product__smallerText > p {
    font-size: smaller;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.product__colorImageContainer > img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.miniImageSetter {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}
.miniImages > img {
    margin-right: 5px;
}
.product__centerTitle > p {
    font-size: 25px;
    font-weight: 350;
}
.product__centerTitle {
    margin-top: 70px;
    margin-bottom: 70px;
}
.product__centerBody {
    border-top: 1px solid #b3af9e;
}
.leftBody {
    width: 20%;
}
.rightBody {
    border: 1px #c9c8c2 solid;
}
.topBorder {
    border-top: 1px #c9c8c2 solid;
}
.borderTopBottom {
    margin: 120px 0px 40px 0px;

    padding: 20px;
    border-top: 1px #c9c8c2 solid;
    border-bottom: 1px #c9c8c2 solid;
}
.borderLeft {
    border-left: 1px solid #c9c8c2;
}
.borderLeft > u {
    margin: 0;
    padding: 0;
    color: #4a4947;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}
.dimensionTable {
    padding: 15px 30px 15px 30px;
    border: 1px solid #c9c8c2;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-top: 40px;
}
.product_middleHeading > P {
    font-weight: 300;
    font-size: large;
    margin: 0 50px 0 50px;
    padding: 0;
    color: #4a4947;
}
.product__tableText {
    margin-left: 15px;
    padding: 0;
    list-style: disc;
}
.product__tableText > li {
    font-size: 14px;
    color: #4a4947;
    font-weight: 350;
    list-style: disc;
}
.product__centerDimensionTitle > p {
    font-size: 25px;
    font-weight: 300;
}
.dimensionTable_heading {
    margin-right: 30px;
}
.dimensionTable_heading > h3 {
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana;
    color: #1f1e1c;
}
.dimensionTable_heading > p {
    font-size: 12px;
    font-weight: 100;
    font-family: Verdana;
    color: #4a4947;
}
.product_reviewText > p {
    font-family: Verdana;
    font-size: small;
    font-weight: 100;
    color: #74726f;
}
.product__careText > p {
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 25px;
}
.product__careText {
    padding: 10px;
}
.product_boldReturn > p {
    font-size: 15px;
    font-weight: 500;
    color: black;
    line-height: 25px;
}
.product__smallerReturn > p {
    font-size: 15px;
    font-weight: 300;
    color: black;
    line-height: 25px;
}
@media screen and (max-width: 1260px) {
    .product__wrapper {
        padding: 10px 100px 0px 4px;
    }
}
@media screen and (max-width: 1000px) {
    .product__wrapper {
        width: 8000px;
        margin-left: -211px;
    }
}

@media screen and (max-width: 720px) {
    .product__wrapper {
        width: 600px;
        margin-left: -211px;
    }
}
@media screen and (max-width: 600px) {
    .product__wrapper {
        width: 500px;
        margin-left: -211px;
    }
}
@media screen and (max-width: 560px) {
    .product__wrapper {
        width: 450px;
        padding-right: 0px;
        margin-left: -211px;
    }
}
@media screen and (max-width: 480px) {
    .product__wrapper {
        width: 350px;
        padding-right: 0px;
        margin-left: -211px;
    }
}
@media screen and (max-width: 400px) {
    .product__wrapper {
        width: 300px;
        padding-right: 0px;
    }
    .product_middleHeadingmain {
        width: 300px;
        padding-right: 0px 200px;
    }
    .product_middleHeading p {
        width: 90px;
        padding: 0px !important;
        margin: 0px;
    }
}
