* {
    /* padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px; */
}
.wrapperHeader {
    width: 100%;
}
.head {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.carticon,
.locationicon {
    width: 3em;
    height: 2em;
}
.righticon {
    display: flex;
    padding: 10px;
    flex-direction: row;
}
.searchHeader {
    /* margin-left: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: center;

    display: flex;
    border: none;
}
.innerSearchText {
    border-bottom: 2px solid black;
}
.input1 {
    border: none;
    outline-style: none;
    border-bottom: 2px solid black;
}
.input1:hover {
    border: none;
    border-bottom: 3px solid lightblue;
    transition: 0.5s;
}
.input1:active {
    color: red;
}
.drawericon {
    width: 2em;
    height: 2em;
    visibility: visible;
}
@media screen and (max-width: 1000px) {
    .drawericon {
        width: 2em;
        height: 2em;
        visibility: visible;
    }
}
@media screen and (max-width: 750px) {
    .input1 {
        width: 60%;
    }
}
.sidebar {
    display: none;
}

@media screen and (max-width: 750px) {
    .sidebar {
        display: inline;
    }
}

hr {
    size: 5px;
}
.icon {
    border: none;
    margin-left: 5px;
}
.logo {
    width: 100%;
}
.logoimg {
    width: 100px;
    height: 60px;
}
.mainsearchdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
