.request {
    width: 60%;
    margin-top: 4%;
    /* margin-left: 100px; */
}
.mainf1 {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.mainf11 p {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}
.requestfooter {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 10px 0px;
    background-color: #f7f7f7;
}

.rqmain {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

label {
    font-size: 10px;

    font-weight: bolder;
}
.rqrow1checks {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.rqrow1 {
    display: flex;
    width: 400px;
    flex-direction: column;
}
.rqrow11 {
    display: flex;
    width: 230px;
    flex-direction: column;
}
.rqrow12 {
    display: flex;
    width: 500px;
    flex-direction: column;
}
.rqrow13 {
    display: flex;
    width: 300px;
    flex-direction: column;
}
.rqrow14 {
    display: flex;
    width: 300px;
    flex-direction: column;
}
.rqrow1check {
    display: flex;
    width: 800px;
    flex-direction: row;
    align-items: flex-start;
    font-size: 10px;
    font-weight: bolder;
}
.rqrow1text {
    display: flex;
    width: 860px;
    flex-direction: column;
}
.row1cde {
    display: flex;

    flex-direction: column;
}
.rqrow1 label {
    font-size: 10px;
    font-weight: bold;
}
.row1cde label {
    font-size: 10px;
    font-weight: bold;
}

.rowbutton {
    background-color: black;
    color: white;
}
.rqmaintext {
    padding-top: 10px;
}
@media screen and (max-width: 1200px) {
    .rqrow1text {
        width: 500px !important ;
    }
    .rqmain {
        width: 800px;
        margin-bottom: 60px;
    }
}
/* @media screen and (max-width: 800px) {
    .subweb2 {
        width: 600px;
    }
    .rqmain {
        display: flex;
        flex-direction: column;
    }
    .rqrow1checks {
        display: flex;
        flex-direction: column;
    }
    .rowbutton {
        margin-bottom: 100px;
        width: 100px;
    }
} */

@media screen and (max-width: 800px) {
    .subweb2 {
        width: 600px !important;
    }
    .rqrow1checks {
        width: 600px !important;
    }
    .request {
        width: 600px !important;
    }
    .rqmain {
        width: 600px !important;
        display: flex;
        flex-wrap: wrap;
    }
    .rqrow1 {
        width: 600px !important;
    }
    .rqrow1check {
        width: 600px !important;
    }
    .rqrow12 {
        width: 600px !important;
    }
    .rqrow1text {
        width: 600px !important;
    }
}
@media screen and (max-width: 600px) {
    .subweb2 {
        width: 400px;
    }
    .rqrow1checks {
        width: 400px !important;
    }
    .request {
        width: 400px !important;
    }
    .rqmain {
        width: 400px !important;
    }
    .rqrow1 {
        width: 400px !important;
    }
    .rqrow1check {
        width: 400px !important;
    }
    .rqrow12 {
        width: 400px !important;
    }
    .rqrow1text {
        width: 400px !important;
    }
}
@media screen and (max-width: 500px) {
    .rqrow1checks {
        width: 300px !important;
    }
    .request {
        width: 300px !important;
    }
    .request > h1 {
        font-size: 20px;
        padding: 20px 0px;
    }
    .subweb2 {
        width: 300px !important;
    }
    .rqmain {
        width: 300px !important;
        margin-bottom: 60px;
    }
    .rqrow1 {
        width: 300px !important;
    }
    .rqrow1check {
        width: 300px !important;
    }
    .rqrow12 {
        width: 300px !important;
    }
    .rqrow1text {
        width: 300px !important;
    }
}
