.mainsubpara {
    justify-content: center;
}
.imgsubheading {
    width: 100px;
    height: 100px;
}
.btnsub {
    display: flex;
    margin: auto;
    justify-content: center;

    border-radius: 20px;
    padding: 10px 30px;
}
.btnsub:hover {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
}
