.btn,
.btn1 {
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.btn {
    /* background-color: red; */
    color: black;
}
.btn1:hover {
    background-color: green;
    color: white;
}
.btn:hover {
    background-color: red;
    color: white;
}
.mainpara {
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}
